* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../../../assets/img/fondo.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  header {
    display: flex;
    height: 70px;
    background-color: rgb(6, 6, 104);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    height: 50px;
    margin: 0 25px 0 10px;
  }
  
  .nombre-banco {
    color: white;
    font-size: 50px;
  }
  
  .formulario {
    background: #aaaaaa80;
    padding: 20px;
    margin: 150px auto;
    width: 500px;
    border-radius: 2%;
  }
  
  .formulario h1 {
    text-align: center;
    color: #fff;
    font-size: 35px;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="number"] {
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
  }
  
  .input-contenedor {
    margin-bottom: 20px;
    border: 1px solid #aaa;
    display: flex;
    align-items: center;
  }
  
  .icon {
    min-width: 50px;
    text-align: center;
    color: #060606;
  }
  
  .button {
    border: none;
    color: white;
    font-size: 20px;
    background: #b30309;
    padding: 15px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button:hover {
    background: #a10208;
  }
  
  .button:disabled {
    background: #ab595b;
  }
  
  .invalid-feedback {
    color: white;
    background: #ab595b;
  }
  