<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>EPN Wallet</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="icon" type="favicon/x-icon" href="../../../assets/media/Logo.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="../reset-password/reset-password.component.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="../../../assets/media/Logo.png" alt="logo">
            <h1 class="nombre-banco">EPN Wallet</h1>
        </div>
    </header>

    <div class="container mt-5">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title text-center">Restablecer Contraseña del Usuario</h3>
                <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
                  <div class="form-group">
                    <label for="cedula">Cédula</label>
                    <input type="number" id="cedula" formControlName="cedula" class="form-control"
                        [ngClass]="{'is-invalid': resetPasswordForm.get('cedula')?.invalid && resetPasswordForm.get('cedula')?.touched}">
                    <div *ngIf="resetPasswordForm.get('cedula')?.invalid && resetPasswordForm.get('cedula')?.touched" class="invalid-feedback">
                        La cédula es requerida.
                    </div>
                  </div>

                  <div class="form-group mt-3" id="newPass" style="position: relative;">
                    <label for="newPassword">Nueva Contraseña</label>
                    <input type="password" id="newPassword" formControlName="newPassword" class="form-control"
                        [ngClass]="{'is-invalid': resetPasswordForm.get('newPassword')?.invalid && resetPasswordForm.get('newPassword')?.touched}"
                        [type]="passwordFieldType" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@])[a-zA-Z\d@]{8,16}$">
                    <i class="fas" [ngClass]="passwordFieldType === 'password' ? 'fa-eye' : 'fa-eye-slash'" (click)="togglePasswordVisibility()"
                        style="cursor: pointer; position: absolute; right: -20px; top: 50px; transform: translateY(-50%);"></i>
                    <div *ngIf="resetPasswordForm.get('newPassword')?.invalid && resetPasswordForm.get('newPassword')?.touched" class="invalid-feedback">
                        La contraseña debe tener entre 8 y 16 caracteres, al menos una letra mayúscula, una letra minúscula, un número y un símbolo '@'.
                       <div class="nota">
                            <ul>
                            <li>Una longitud de 8 a 16 caracteres.</li>
                            <li>Al menos una letra mayúscula y una minúscula.</li>
                            <li>Al menos un número.</li>
                            <li>El símbolo.</li>
                            </ul>
                        </div>
                    </div>
                  </div>
                  
                <div class="form-group mt-3" id="confirmPass" style="position: relative;">
                    <label for="confirmPassword">Confirmar Contraseña</label>
                    <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control"
                        [ngClass]="{'is-invalid': resetPasswordForm.hasError('mismatch') && resetPasswordForm.get('confirmPassword')?.touched}"
                        [type]="passwordFieldType">
                    <i class="fas" [ngClass]="passwordFieldType === 'password' ? 'fa-eye' : 'fa-eye-slash'" (click)="togglePasswordVisibility()"
                        style="cursor: pointer; position: absolute; right: -20px; top: 50px; transform: translateY(-50%);"></i>
                    <div *ngIf="resetPasswordForm.hasError('mismatch') && resetPasswordForm.get('confirmPassword')?.touched" class="invalid-feedback">
                        Las contraseñas no coinciden.
                    </div>
                </div>
                
                  <button type="submit" class="btn btn-success mt-3">Restablecer Contraseña</button>
                </form>
                
            </div>
        </div>
    </div>
</body>
<footer class="footer">
    <p>© 2024 EPN Wallet. Todos los derechos reservados.</p>
</footer>
</html>
