body {
    font-family: Arial, Helvetica, sans-serif;
    background: url("../../../assets/media/fondo1.avif") no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    padding: 10px;
}

header {
    display: flex;
    height: 60px;
    background-color: #0a36a6;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 40px;
    margin-right: 10px;
    margin-left: 5px;
}

.nombre-banco {
    color: white;
    font-size: 24px; /* Tamaño reducido para móviles */
    white-space: nowrap; /* Evita que el nombre del banco se divida en dos líneas */
}

.container {
    padding: 15px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    width: 100%;
    max-width: 100%; /* Máximo ancho para el contenedor */
}

footer {
    background-color: #042068;
    color: white;
    text-align: center;
    padding: 15px 0;
    position: relative;
    width: 100%;
}

.text-danger {
    text-align: start;
    margin-left: 4px;
    color: gray;
    font-size: 0.85em;
}

input.ng-invalid.ng-touched {
    border-color: red;
}

.mx-auto{
    width: 100%;
}

.float-end{
    width: auto;
}

@media (min-width: 768px) {
    header {
        height: 70px;
    }

    .logo img {
        height: 50px;
        margin-right: 25px;
        margin-left: 10px;
    }

    .nombre-banco {
        font-size: 40px; /* Tamaño original para pantallas grandes */
    }

    .container {
        padding: 20px;
        margin: 50px auto;
        width: 500px; /* Ancho original para pantallas grandes */
    }

    footer {
        padding: 20px 0;
    }

    .text-danger {
        margin-left: 6px;
        font-size: 0.9em;
    }
}
