* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(../../../assets/media/fondo1.avif);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  height: 70px;
  background-color: #042068;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px; /* Ajuste para que sea más pequeño en dispositivos móviles */
  margin: 0 15px 0 5px;
}

.nombre-banco {
  color: white;
  font-size: 30px; /* Tamaño más pequeño en móviles */
}

.formulario {
  background: rgb(128, 7, 7);
  border: 5px solid black;
  padding: 20px;
  margin: 50px 20px; /* Reducido el margen para dispositivos móviles */
  width: 90%; /* Anchura adaptada para móviles */
  max-width: 500px; /* Mantiene un ancho máximo en pantallas grandes */
  border-radius: 2%;
}

.formulario h1 {
  text-align: center;
  color: #fff;
  font-size: 28px; /* Tamaño más pequeño en móviles */
}

input[type="text"],
input[type="password"],
input[type="number"] {
  font-size: 16px; /* Tamaño más pequeño en móviles */
  width: 100%; /* Anchura completa para móviles */
  padding: 10px;
  border: none;
}

.input-contenedor {
  margin-bottom: 15px; /* Espaciado reducido en móviles */
  border: 1px solid #aaa;
  display: flex;
  align-items: center;
  position: relative;
}

.icon {
  min-width: 40px; /* Ajustado para móviles */
  text-align: center;
  color: #f5eded;
}

.button {
  border: none;
  color: white;
  font-size: 18px; /* Tamaño más pequeño en móviles */
  background: #0f8abb;
  padding: 10px;
  margin: 5px 45px; /* Centrando en móviles */
  width: 100%; /* Anchura completa para móviles */
  max-width: 200px; /* Máximo ancho para pantallas más grandes */
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
}

.button:hover {
  background: #042067;
}

.button:disabled {
  background: rgb(230, 48, 41);
}

.invalid-feedback {
  color: white;
  background: rgb(230, 48, 41);
}

.small-button {
  padding: 10px 15px; 
  font-size: 16px;
}

.forgot-link, .register-link {
  margin-top: 15px;
  text-align: center;
}

a.forgot, a.sing-up {
  display: block;
  text-decoration: none;
  text-decoration: underline;
  color: black;
}

a.forgot:hover, a.sing-up:hover {
  color: aqua;
}

footer.footer {
  background-color: #042068;
  color: white;
  text-align: center;
  padding: 20px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}

@media (min-width: 768px) {
  .logo img {
    height: 50px;
  }

  .nombre-banco {
    font-size: 50px;
  }

  .formulario {
    margin: 150px auto;
    width: 500px;
  }

  .formulario h1 {
    font-size: 35px;
  }

  input[type="text"],
  input[type="password"],
  input[type="number"] {
    font-size: 20px;
    width: 82%;
  }

  .button {
    font-size: 20px;
    margin-left: 130px;
    width: 200px;
  }
}
